USE [TP2_Parte_A]
GO
/****** Object:  Table [dbo].[Albumes]    Script Date: 6/7/2022 11:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Albumes](
	[codAlbum] [int] NOT NULL,
	[titulo] [varchar](100) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[codArtista] [int] NOT NULL,
	[codGenero] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codAlbum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Artistas]    Script Date: 6/7/2022 11:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artistas](
	[codArtista] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codArtista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 6/7/2022 11:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[codCliente] [int] NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[saldo] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Composiciones]    Script Date: 6/7/2022 11:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Composiciones](
	[codProducto] [int] NOT NULL,
	[codProductoComponente] [int] NOT NULL,
	[cantidad] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 6/7/2022 11:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[nroFactura] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[codCliente] [int] NOT NULL,
	[codPedido] [int] NOT NULL,
	[bruto] [float] NOT NULL,
	[iva] [float] NOT NULL,
	[IIBB] [float] NOT NULL,
	[final] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Generos]    Script Date: 6/7/2022 11:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Generos](
	[codGenero] [int] NOT NULL,
	[descripcion] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codGenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemsFactura]    Script Date: 6/7/2022 11:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemsFactura](
	[codProducto] [int] NOT NULL,
	[nroFactura] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [float] NOT NULL,
	[descuento] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemsPedido]    Script Date: 6/7/2022 11:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemsPedido](
	[codProducto] [int] NOT NULL,
	[codPedido] [int] NOT NULL,
	[cantidad] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 6/7/2022 11:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[nroPedido] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[codCliente] [int] NOT NULL,
	[fechaEntrega] [datetime] NOT NULL,
	[lugarEntrega] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nroPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 6/7/2022 11:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[codProducto] [int] NOT NULL,
	[descripcion] [varchar](max) NOT NULL,
	[stock] [int] NOT NULL,
	[puntoReposicion] [int] NOT NULL,
	[precio] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temas]    Script Date: 6/7/2022 11:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temas](
	[codTema] [int] NOT NULL,
	[titulo] [varchar](100) NOT NULL,
	[orden] [int] NOT NULL,
	[duracion] [decimal](10, 0) NULL,
	[codAlbum] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codTema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Albumes] ([codAlbum], [titulo], [fecha], [codArtista], [codGenero]) VALUES (1, N'Thriller', CAST(N'1982-11-30T00:00:00.000' AS DateTime), 1, 3)
INSERT [dbo].[Albumes] ([codAlbum], [titulo], [fecha], [codArtista], [codGenero]) VALUES (2, N'Off the Wall', CAST(N'1979-08-10T00:00:00.000' AS DateTime), 1, 3)
INSERT [dbo].[Albumes] ([codAlbum], [titulo], [fecha], [codArtista], [codGenero]) VALUES (3, N'Appetite for Destruction', CAST(N'1987-07-21T00:00:00.000' AS DateTime), 13, 1)
GO
INSERT [dbo].[Artistas] ([codArtista], [nombre]) VALUES (1, N'Michael Jackson')
INSERT [dbo].[Artistas] ([codArtista], [nombre]) VALUES (2, N'Madonna')
INSERT [dbo].[Artistas] ([codArtista], [nombre]) VALUES (3, N'Rihanna')
GO
INSERT [dbo].[Clientes] ([codCliente], [nombre], [saldo]) VALUES (1, N'Salomon Malam', 929.04)
INSERT [dbo].[Clientes] ([codCliente], [nombre], [saldo]) VALUES (2, N'Betsey Sollars', 840.32)
INSERT [dbo].[Clientes] ([codCliente], [nombre], [saldo]) VALUES (3, N'Susi Yarnley', 793.78)
GO
INSERT [dbo].[Composiciones] ([codProducto], [codProductoComponente], [cantidad]) VALUES (33, 1, 26)
INSERT [dbo].[Composiciones] ([codProducto], [codProductoComponente], [cantidad]) VALUES (46, 2, 91)
INSERT [dbo].[Composiciones] ([codProducto], [codProductoComponente], [cantidad]) VALUES (47, 3, 69)
GO
INSERT [dbo].[Facturas] ([nroFactura], [fecha], [codCliente], [codPedido], [bruto], [iva], [IIBB], [final]) VALUES (1, CAST(N'2021-03-09T20:48:13.000' AS DateTime), 1, 1, 1797.9299999999998, 0, 0, 1797.9299999999998)
INSERT [dbo].[Facturas] ([nroFactura], [fecha], [codCliente], [codPedido], [bruto], [iva], [IIBB], [final]) VALUES (2, CAST(N'2021-01-15T18:49:18.000' AS DateTime), 2, 2, 1745.4499999999998, 0, 0, 1745.4499999999998)
INSERT [dbo].[Facturas] ([nroFactura], [fecha], [codCliente], [codPedido], [bruto], [iva], [IIBB], [final]) VALUES (3, CAST(N'2021-01-11T07:07:13.000' AS DateTime), 3, 3, 1695, 0, 0, 1695)
GO
INSERT [dbo].[Generos] ([codGenero], [descripcion]) VALUES (1, N'Rock Internacional')
INSERT [dbo].[Generos] ([codGenero], [descripcion]) VALUES (2, N'Rock Nacional')
INSERT [dbo].[Generos] ([codGenero], [descripcion]) VALUES (3, N'Pop')
GO
INSERT [dbo].[ItemsFactura] ([codProducto], [nroFactura], [cantidad], [precio], [descuento]) VALUES (1, 22, 8, 147.85, 0)
INSERT [dbo].[ItemsFactura] ([codProducto], [nroFactura], [cantidad], [precio], [descuento]) VALUES (1, 77, 6, 147.85, 0)
INSERT [dbo].[ItemsFactura] ([codProducto], [nroFactura], [cantidad], [precio], [descuento]) VALUES (1, 28, 6, 147.85, 0)
GO
INSERT [dbo].[ItemsPedido] ([codProducto], [codPedido], [cantidad]) VALUES (5, 1, 10)
INSERT [dbo].[ItemsPedido] ([codProducto], [codPedido], [cantidad]) VALUES (46, 2, 1)
INSERT [dbo].[ItemsPedido] ([codProducto], [codPedido], [cantidad]) VALUES (46, 3, 8)
GO
INSERT [dbo].[Pedidos] ([nroPedido], [fecha], [codCliente], [fechaEntrega], [lugarEntrega]) VALUES (1, CAST(N'2021-03-09T20:48:13.000' AS DateTime), 1, CAST(N'2021-11-23T11:42:30.000' AS DateTime), N'44120 Cambridge Alley')
INSERT [dbo].[Pedidos] ([nroPedido], [fecha], [codCliente], [fechaEntrega], [lugarEntrega]) VALUES (2, CAST(N'2021-01-15T18:49:18.000' AS DateTime), 2, CAST(N'2021-06-09T15:07:28.000' AS DateTime), N'08 Randy Alley')
INSERT [dbo].[Pedidos] ([nroPedido], [fecha], [codCliente], [fechaEntrega], [lugarEntrega]) VALUES (3, CAST(N'2021-01-11T07:07:13.000' AS DateTime), 3, CAST(N'2021-06-01T11:24:23.000' AS DateTime), N'351 Reindahl Road')
GO
INSERT [dbo].[Productos] ([codProducto], [descripcion], [stock], [puntoReposicion], [precio]) VALUES (1, N' descripcion prueba  mas larga para demostrar que la query esta funcionando correctamente', 692, 10, 147.85)
INSERT [dbo].[Productos] ([codProducto], [descripcion], [stock], [puntoReposicion], [precio]) VALUES (2, N'descripcion prueba', 5, 6, 977.15)
INSERT [dbo].[Productos] ([codProducto], [descripcion], [stock], [puntoReposicion], [precio]) VALUES (3, N'descripcion prueba', 108, 15, 603.26)
GO
INSERT [dbo].[Temas] ([codTema], [titulo], [orden], [duracion], [codAlbum]) VALUES (1, N'Wanna Be Startin Somethin', 1, CAST(361 AS Decimal(10, 0)), 1)
INSERT [dbo].[Temas] ([codTema], [titulo], [orden], [duracion], [codAlbum]) VALUES (2, N'Baby Be Miñe', 2, CAST(252 AS Decimal(10, 0)), 1)
INSERT [dbo].[Temas] ([codTema], [titulo], [orden], [duracion], [codAlbum]) VALUES (3, N'The Girl Is Mine', 3, CAST(205 AS Decimal(10, 0)), 1)
GO
ALTER TABLE [dbo].[Albumes]  WITH CHECK ADD FOREIGN KEY([codArtista])
REFERENCES [dbo].[Artistas] ([codArtista])
GO
ALTER TABLE [dbo].[Albumes]  WITH CHECK ADD FOREIGN KEY([codGenero])
REFERENCES [dbo].[Generos] ([codGenero])
GO
ALTER TABLE [dbo].[Composiciones]  WITH CHECK ADD FOREIGN KEY([codProducto])
REFERENCES [dbo].[Productos] ([codProducto])
GO
ALTER TABLE [dbo].[Composiciones]  WITH CHECK ADD FOREIGN KEY([codProductoComponente])
REFERENCES [dbo].[Productos] ([codProducto])
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD FOREIGN KEY([codCliente])
REFERENCES [dbo].[Clientes] ([codCliente])
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD FOREIGN KEY([codPedido])
REFERENCES [dbo].[Pedidos] ([nroPedido])
GO
ALTER TABLE [dbo].[ItemsFactura]  WITH CHECK ADD FOREIGN KEY([codProducto])
REFERENCES [dbo].[Productos] ([codProducto])
GO
ALTER TABLE [dbo].[ItemsFactura]  WITH CHECK ADD FOREIGN KEY([nroFactura])
REFERENCES [dbo].[Facturas] ([nroFactura])
GO
ALTER TABLE [dbo].[ItemsPedido]  WITH CHECK ADD FOREIGN KEY([codPedido])
REFERENCES [dbo].[Pedidos] ([nroPedido])
GO
ALTER TABLE [dbo].[ItemsPedido]  WITH CHECK ADD FOREIGN KEY([codProducto])
REFERENCES [dbo].[Productos] ([codProducto])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([codCliente])
REFERENCES [dbo].[Clientes] ([codCliente])
GO
